aside section h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
}
.gravatar {
    margin-right: 10px;
}
img {
    vertical-align: middle;
    border: 0;
}
.stats a:hover {
    text-decoration: none;
    color: blue;
}
.stats a:first-child {
    padding-left: 0;
    border: 0;
}
a:hover {
    color: #fff;
    background-color: #000;
}
a:visited {
    color: #666;
}
.stats a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid #eeeeee;
    color: gray;
}
a:hover, a:focus {
    color: #23527c;
    text-decoration: underline;
}
a:active, a:hover {
    outline: 0;
}
.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #333;
    text-decoration: none;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
input {
    height: auto !important;
}
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.stats {
    overflow: auto;
    margin-top: 0;
    padding: 0;
}

.posts {
    list-style: none;
    padding: 0;
}
p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
ol {
    display: block;
    list-style-type: decimal;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.posts li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a:visited {
    color: #666;
}
a {
    color: #000;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
.posts .user {
    margin-top: 5em;
    padding-top: 0;
}
.posts .content {
    display: block;
    margin-left: 60px;
}